.icon-box-wrap__main.icon-box.icon-box--theme-compass
  .icon-box-wrap__main__left
    strong.icon-box__subhead Tool N<em>o</em>1: Post Diagnosis
    h4.icon-box__head Decision Support
    span.icon-box__lowhead Questionnaire / Education / Report
    +svg('DS-Compass', 92, 92, 'icon-box__icon')
  .icon-box-wrap__main__right
    a.icon-box__button.icon-box__button--main(href=locals.content.decisionSupport.link)
      span Start<figure></figure>
