.icon-box-wrap__main.icon-box.icon-box--theme-brown.icon-box--theme-inactive
  strong.icon-box__subhead Tool N<em>o</em>3: Post Treatment
  h4.icon-box__head Sexual Recovery
  span.icon-box__lowhead Treatment Plan
  +svg('Sexual-Recovery-Coming-Soon', 90, 90, 'icon-box__icon')
