.icon-box-wrap__main.icon-box.icon-box--theme-inactive
  strong.icon-box__subhead Tool N<em>o</em>4: All Stages
  h4.icon-box__head Lived Experience
  span.icon-box__lowhead Video Testimonials
  +svg('Lived-Experience-Coming-Soon', 90, 90, 'icon-box__icon')
