footer.footer
  .footer__logo-area
    figure
      +svg('TrueNTH-Footer-Logo', 78.85, 90.99)
  ul.nav-list
    li.nav-list__item
      a(href="#") Home
    li.nav-list__item
      a(href="#") About
    li.nav-list__item
      a(href="#") Decision Support
    li.nav-list__item
      a(href="#") Symptom Tracker
  ul.nav-list.nav-list--lower
    li.nav-list__item
      a(href="#") Terms and Conditions
    li.nav-list__item
      a(href="#") Legal
    li.nav-list__item
      a(href="#") Contact
  .footer__logo-area
    figure
      +svg('Movember-Footer-Logo', 84, 84)

include ../_inline-svg
