header.header
  .header__menu
    a.menu.button.button--small.button--white
      | Menu
      +svg('hamburger-teal', 23, 17)
  a.logo(href="/")
  .header__meta
    a.menu.button.button--small.button--white(href="#") Log In
    a.menu.button.button--small.button--white(href="#") Sign Up
