header.header
  .header__menu
    a.menu.button.button--small.button--white.js-nav-menu-toggle
      figure
      span Menu
  a.logo(href="/")
  .header__meta
    a.menu.button.button--small.button--white(href=locals.content.logIn.link) Log In
    a.menu.button.button--small.button--white(href=locals.content.joinUs.link) Sign Up

header.header.header--logged-in
  .header__menu
    a.menu.button.button--small.button--white.js-nav-menu-toggle
      figure
  a.logo(href="/")
  .header__meta
    img.header__meta__avatar(src="/images/avatar-stub.png")
    .btn-group
      a.menu.button.button--small.button--white.profile-toggle.button.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        figure
      .dropdown-menu
        a.dropdown-item(href='#') My Profile
        a.dropdown-item(href='#') Decision Support Tool
        a.dropdown-item(href='#') Symptom Tracker Tool
        a.dropdown-item(href='#') Log Out
