header.header
  .header__menu
    a.menu.button.button--small.button--white.js-nav-menu-toggle
      +svg('hamburger-teal', 15, 11)
      | Menu
  a.logo(href="/")
  .header__meta
    a.menu.button.button--small.button--white(href="#") Log In
    a.menu.button.button--small.button--white(href="#") Sign Up
