figure.nav-overlay

nav.side-nav
  h3.side-nav__heading Navigation
  ul.side-nav-items
    li.side-nav-items__item.side-nav-items__item--home
      <a href="#">Home<figure></figure></a>

    li.side-nav-items__item
      <a href="#">About TrueNTH<figure></figure></a>

    li.side-nav-items__item
      <a href="#">Decision Support<figure></figure></a>

    li.side-nav-items__item
      <a href="#">Symptom Tracker<figure></figure></a>

    li.side-nav-items__item
      <a href="#">Join Us<figure></figure></a>

    li.side-nav-items__item
      <a href="#">Contact<figure></figure></a>
