figure.nav-overlay

nav.side-nav
  h3.side-nav__heading Navigation
  ul.side-nav-items
    li.side-nav-items__item
      a(href='#') Home
      +svg('arrow-right-teal', 29, 12)

    li.side-nav-items__item
      a(href='#')
        | About TrueNTH

    li.side-nav-items__item
      a(href='#')
        | Decision Support

    li.side-nav-items__item
      a(href='#')
        | Symptom Tracker

    li.side-nav-items__item
      a(href='#')
        | Join Us

    li.side-nav-items__item
      a(href='#')
        | Contact
