figure.nav-overlay

nav.side-nav
  h3.side-nav__heading Navigation
  ul.side-nav-items
    li.side-nav-items__item.side-nav-items__item--home
      <a href="#">Home<figure></figure></a>

    li.side-nav-items__item
      <a href="#">About TrueNTH<figure></figure></a>

    li.side-nav-items__item.side-nav-items__item--has-icon
      a(href='#')
        +svg('DS-Icon-Nav', 32, 32)
        |Decision Support<figure></figure>

    li.side-nav-items__item.side-nav-items__item--has-icon
      a(href='#')
        +svg('ST-Icon-Nav', 32, 32)
        |Symptom Tracker<figure></figure>

    li.side-nav-items__item
      <a href="#">Join Us<figure></figure></a>

    li.side-nav-items__item
      <a href="#">Log In<figure></figure></a>

    li.side-nav-items__item
      <a href="#">Contact<figure></figure></a>
