extends ../templates/layouts/default

block vars
  - var bodyClass = 'about theme--intro-light'

block content
  .page-intro.page-intro--dark(style="background-image: url(/images/About-Top-Background.jpg);")
    .page-intro__content
      h1.page-intro__main We're a collaborative program <br/>funded and created by <a href='http://www.movember.com', target='_blank'>Movember</a>.
      p.page-intro__sub Our mission is to improve the prostate cancer journey for men and their partners and caregivers, by bringing their voices together with doctors, researchers, and volunteers.
      .button-callout
        figure.js-scroll-down(data-target='.page-intro')

  .module-wrap.module-wrap--watch
    img(src="/images/About-Video-Export.jpg")
    .module-wrap--inner
      .button-callout
        a.button.button--large.button--teal(href="#") Watch
  .module-wrap.module-wrap--theme-brown
    .module.module--theme-brown
      .accent-heading Objective N<em>o</em>6: Custom Tools
      p.module__heading Our Current Projects
      p.module__body We have two tools currently running and more on the way.
      .icon-box-group__wrapper
        .icon-box-group
          .icon-box-wrap
            a.icon-box.icon-box--theme-compass(href=locals.content.decisionSupport.link)
              strong.icon-box__subhead Tool N<em>o</em>1: Post Diagnosis
              h4.icon-box__head Decision Support
              span.icon-box__lowhead Questionnaire / Education / Report
              +svg('DS-Compass', 92, 92, 'icon-box__icon')

          .icon-box-wrap
            a.icon-box.icon-box--theme-compass.icon-box--theme-brown(href=locals.content.symptomTracker.link)
              strong.icon-box__subhead Tool N<em>o</em>2: Monitoring
              h4.icon-box__head Symptom Tracker
              span.icon-box__lowhead Questionnaire / 10 Mins
              +svg('ST-Graph', 90, 90, 'icon-box__icon')
          .icon-box-wrap
            .icon-box.icon-box--theme-brown.icon-box--theme-inactive
              strong.icon-box__subhead Tool N<em>o</em>3: All Stages
              h4.icon-box__head Exercise And Diet
              span.icon-box__lowhead Personalized Guides
              +svg('Sexual-Recovery-Coming-Soon', 90, 90, 'icon-box__icon')
          .icon-box-wrap
            .icon-box.icon-box--theme-brown.icon-box--theme-inactive
              strong.icon-box__subhead Tool N<em>o</em>4: Post Treatment
              h4.icon-box__head Sexual Recovery
              span.icon-box__lowhead Treatment Plan
              +svg('Sexual-Recovery-Coming-Soon', 90, 90, 'icon-box__icon')
          .icon-box-wrap
            .icon-box.icon-box--theme-inactive
              strong.icon-box__subhead Tool N<em>o</em>5: All Stages
              h4.icon-box__head Lived Experience
              span.icon-box__lowhead Video Testimonials
              +svg('Coming-Soon', 90, 90, 'icon-box__icon')
          .icon-box-wrap
            .icon-box.icon-box--theme-inactive
              strong.icon-box__subhead Tool N<em>o</em>6: Post Diagnosis
              h4.icon-box__head Care Plan
              span.icon-box__lowhead Navigation Resources
              +svg('Coming-Soon', 90, 90, 'icon-box__icon')
  .module-wrap.module-wrap--theme-gray-light
    .module.module--theme-gray
      .accent-heading Objective N<em>o</em>6: Collaboration
      p.module__heading Our USA Partners
      p.module__body We have brought together a Network that is actively working with us on the best tools for living with and beyond prostate cancer.
      .partner-grid
        .partner-grid__item
          +svg('Lived-Experience-Coming-Soon', 90, 90)
        .partner-grid__item
          +svg('Lived-Experience-Coming-Soon', 90, 90)
        .partner-grid__item
          +svg('Lived-Experience-Coming-Soon', 90, 90)
        .partner-grid__item
          +svg('Lived-Experience-Coming-Soon', 90, 90)
        .partner-grid__item
          +svg('Lived-Experience-Coming-Soon', 90, 90)
        .partner-grid__item
          +svg('Lived-Experience-Coming-Soon', 90, 90)
        .partner-grid__item
          +svg('Lived-Experience-Coming-Soon', 90, 90)
        .partner-grid__item
          +svg('Lived-Experience-Coming-Soon', 90, 90)
        .partner-grid__item
          +svg('Lived-Experience-Coming-Soon', 90, 90)
        .partner-grid__item
          +svg('Lived-Experience-Coming-Soon', 90, 90)
  .module-wrap.module-wrap--theme-blue
    .module.module--theme-gray
      .accent-heading Objective N<em>o</em>1: TrueNTH Community
      p.module__heading Global Strategy
      p.module__body TrueNTH is currently active in 7 countries around the world:
      .world-map
        img(src="/images/World-Map@2x.png")
        ul.tooltips
          li.tooltips__item.tooltips__item--usa
            strong USA
            span US
            figure
          li.tooltips__item.tooltips__item--can
            strong Canada
            span CA
            figure
          li.tooltips__item.tooltips__item--ire
            strong Ireland
            span IE
            figure
          li.tooltips__item.tooltips__item--uk
            strong UK
            span UK
            figure
          li.tooltips__item.tooltips__item--sing
            strong Singapore
            span SG
            figure
          li.tooltips__item.tooltips__item--aus
            strong Australia
            span AU
            figure
          li.tooltips__item.tooltips__item--nz
            strong New Zealand
            span NZ
            figure
      p.module__body TrueNTH has invested 42 million USD to support the work of more than 350 global experts in prostate cancer care in these countries.
  include ../templates/partial/_community_participation
