extends ../templates/layouts/default

include ../templates/mixins/index

block vars
  - var bodyClass = 'contact theme--intro-light'

block content
  .page-intro.page-intro--dark(style="background-image: url(/images/Contact-Background.jpg);")
    .page-intro__content
      h1.page-intro__main Get in Touch
      p.page-intro__sub We’re looking for people to collaborate with us on this massive project of improving the prostate cancer journey. Please connect with us, share your story, volunteer, and make suggestions for how we can do better.
      .button-callout
        figure.js-scroll-down(data-target='.page-intro')
  .module-wrap.module-wrap--theme-brown
    .module
      .contact-form-wrap
        .accent-heading Objective N<em>o</em>9: Open Dialogue
        h3.module__heading Contact Form
        p.module__body Use this form to get in touch with TrueNTH USA.
        form(action="#").module__form
          .field-group.field-group__half
            +buildInput('first-name', 'First Name', 'First Name',  'text', 'field__text')
            +buildInput('last-name', 'Last Name', 'Last Name',  'text', 'field__text')
          .field-group
            +buildInput('email', 'Email Address', 'Your Email',  'email', 'field__text')
          .field-group
            .field.field__textarea
              label.field__label Message
              textarea.field__textarea
          .field-group
            .field.field__select
              label.field__label About You
              select.field__select
                each option in locals.content.contact.aboutOptions
                  option(value=option)=option
          .field-group
            .button-wrap.button-wrap--centered
              a.icon-box__button.icon-box__button--main
                span Submit<figure></figure>


    include ../templates/partial/_community_participation
