extends ../templates/layouts/default

block vars
  - var bodyClass = 'about theme--intro-light'

block content
  .page-intro.page-intro--dark(style="background-image: url(/images/DS-Top-Background.jpg);")
    .page-intro__content
      h1.page-intro__main Decision Support
      p.page-intro__sub Choosing which treatment path to go down can be confusing and overwhelming. Being informed of the different options and how each fits into your life is critical in making the best choice for you.
      .button-callout.button-callout--has-text
        a.button--teal.icon-box__button.icon-box__button--main(href=locals.content.joinUs.link)
          span Start<figure></figure>
        strong.js-scroll-down(data-target='.page-intro') Learn More
        figure.button-callout__scroll.js-scroll-down(data-target='.page-intro')
  .module-wrap.module-wrap--watch
    img(src="/images/DS-Video-Export.jpg")
    .module-wrap--inner
      .button-callout
        a.button.button--large.button--teal(href="#") Watch
  .module-wrap.module-wrap--theme-blue
    .module.module--theme-blue
      .accent-heading Objective N<em>o</em>6: Custom Tools – Decision Support
      p.module__heading Making Your Decision
      p.module__body As you decide which treatment is best for you, it is important to prepare for the discussions with your doctor(s):
      .list-module
        .accent-heading Helpful Tip N<em>o</em>3: Decision Making Checklist
        ul.list-module__items
          li.list-module__item.checkbox-item
            .checkbox-item__check
              figure
            .checkbox-item__copy Make a list of your questions.
          li.list-module__item.checkbox-item
            .checkbox-item__check
              figure
            .checkbox-item__copy Include people who are important to you in your decision making.
          li.list-module__item.checkbox-item
            .checkbox-item__check
              figure
            .checkbox-item__copy Take your questions to your appointments.
          li.list-module__item.checkbox-item
  .module-wrap.module-wrap--confidence
    .module
      .accent-heading Tool N<em>o</em>1: Post Diagnosis
      h3.module__head Decision Support Tool
      p.module__body Our tool was created to help you determine which option is best for you.
      p.module__body After you have answered the questionnaire, you will receive personalized education and support to discuss the best path forward with your doctor(s).
      p.module__body You can then download the report and share it with your doctor(s).
      .next-down
        figure
      .icon-box-wrap
        include ../templates/partial/modules/tool_1

  include ../templates/partial/_community_participation
