extends ../templates/layouts/default

block vars
  - var bodyClass = 'home'

block content
  .home-intro
    .intro
      img(src='/images/Home-Truck-Top-001.jpg')
      .intro__content
        h1.intro__main Welcome to TrueNTH
        p.intro__sub We are here to help you navigate your <br /> prostate cancer journey.
        a.intro__down
          +svg('caret-down-teal', 29, 16)
    .module-inclusiveness
      .module-inclusiveness__head.accent-heading Object N<em>o</em>13: Inclusiveness
      p.module-inclusiveness__copy TrueNTH is a collective approach to improving quality of life before, during, and after treatment for prostate cancer.
      .more-arrow
        a.more-arrow__link.more-arrow--teal(href="#")
          | More About TrueNTH
          +svg('arrow-right-teal', 29, 12)
      .photo-grid-container
        .photo-grid
          figure.photo-grid__item
            strong Sandy Goodman
              span MOBRO
            img.photo-grid__img(width="212", src="/images/Home-People-Sandy.jpg")
            img.photo-grid__img--hovered(width="212", src="/images/Home-People-Sandy-Over.jpg")
          figure.photo-grid__item
            strong The Hirsch Brothers
            img.photo-grid__img(width="212", src="/images/Home-People-Hirsch.jpg")
            img.photo-grid__img--hovered(width="212", src="/images/Home-People-Hirsch-Over.jpg")
          figure.photo-grid__item
            strong Dr. Drew Peterson
              span UROLOGIST
            img.photo-grid__img(width="212", src="/images/Home-People-Drew.jpg")
            img.photo-grid__img--hovered(width="212", src="/images/Home-People-Drew-Over.jpg")
          figure.photo-grid__item
            strong Alonzo McCann
            img.photo-grid__img(width="212", src="/images/Home-People-Alonzo.jpg")
            img.photo-grid__img--hovered(width="212", src="/images/Home-People-Alonzo-Over.jpg")
          figure.photo-grid__item
            strong Dr. Elisabeth Heath
              span ONCOLOGIST
            img.photo-grid__img(width="212", src="/images/Home-People-Elisabeth.jpg")
            img.photo-grid__img--hovered(width="212", src="/images/Home-People-Elisabeth-Over.jpg")
          figure.photo-grid__item
            strong Andrew Maguire
              span FILM MAKER
            img.photo-grid__img(width="212", src="/images/Home-People-Andrew.jpg")
            img.photo-grid__img--hovered(width="212", src="/images/Home-People-Andrew-Over.jpg")
          figure.photo-grid__item
            strong Manal Aboelata
              span MOSISTA
            img.photo-grid__img(width="212", src="/images/Home-People-Manal.jpg")
            img.photo-grid__img--hovered(width="212", src="/images/Home-People-Manal-Over.jpg")
          figure.photo-grid__item
            strong David Perez
            img.photo-grid__img(width="212", src="/images/Home-People-David.jpg")
            img.photo-grid__img--hovered(width="212", src="/images/Home-People-David-Over.jpg")
      .button-callout
        a.button.button--large.button--teal(href="#") Join Us
