doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title= title ? baseTitle + '|' + title : baseTitle

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet', href='/styles/app.css')
  body
    //if lt IE 8
      p.browserupgrade
        | You are using an outdated browser. Please a(href='http://browsehappy.com/') upgrade your browser to improve your experience.
    block upper
      include ../partial/upper_banner
    block content
    svg(width="30", height="13")
      use(xlink:href="#arrow-right")
    block footer
      include ../partial/layout/footer
