include ../mixins/index

doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title= title ? baseTitle + '|' + title : baseTitle

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    <script>window.jQuery || document.write('<script src="/scripts/jquery.min.js"><\/script>')</script>

    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet', href='/styles/app.css')

  body
    //if lt IE 8
      p.browserupgrade
        | You are using an outdated browser. Please a(href='http://browsehappy.com/') upgrade your browser to improve your experience.
    block upper
      include ../partial/upper_banner
    main.main
      block header
        include ../partial/layout/header
      block content
    block footer
      include ../partial/layout/footer

    script(src='/scripts/app.js')
