.module-wrap.module-wrap--theme-gray
  .module.module--theme-gray
    .accent-heading Objective N<em>o</em>1: Community Participation
    p.module__heading Everyone has a part to play in improving the prostate cancer journey.
    p.module__body The way these tools work, the more people that join us, the better the tools will become for you and future generations.
    .button-callout
      a.button.button--large.button--teal(href="#") Join Us
