.upper-banner
  a.upper-banner__text Have a code from your doctor? Click here to Sign Up
    +svg('arrow-right-white', 30, 13)
  a.upper-banner__close.js-close-upper-banner
    +svg('close-icon-white', 20, 20)
