.upper-banner
  a.upper-banner__text(data-toggle="modal" data-target="#modal-register") Have a code from your doctor? Click here to Sign Up
    figure
  a.upper-banner__close.js-close-upper-banner
    figure
