// global elements

*
  box-sizing: border-box

img
  max-width: 100%

%default-link
  &:hover
    cursor: pointer
    text-decoration: none

a
  @extend %default-link

$upper-banner-height: 75px
$upper-banner-height-mobile: 50px

.upper-banner
  height: $upper-banner-height
  text-align: center
  background: $teal
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 10

  +media('<lg')
    height: $upper-banner-height-mobile

  +media('<md')
    display: none

  .is-upper-banner-closed &
    display: none

  &__text
    color: #FFF
    display: block
    +fz(21px, 75px)
    font-weight: 500
    margin: 0
    figure
      @extend .s
      @extend .s-arrow-right
      +fz(30px, 75px)
      margin-left: 5px
      top: 5px

    +media('<lg')
      +fz(14px, $upper-banner-height-mobile)

    &:hover
      color: #FFF

  &__close
    position: absolute
    right: 20px
    top: 50%
    margin-top: -10px

    figure
      @extend .s
      @extend .s-close-x
      color: #fff
      +fz(35px, 1)
      top: -10px

      &:hover
        opacity: 0.5

.main
  top: $upper-banner-height
  padding-top: $content-border-size
  padding-bottom: $content-border-size
  position: relative
  z-index: 1

  +media('<lg')
    padding-top: $content-border-size-mobile
    margin-top: -1*$content-border-size-mobile - 5px

  .is-upper-banner-closed &
    top: 0

$header-height: 160px
$header-height-mobile: 92px

=header-scrolled-styles
  padding: 25px 80px
  position: fixed
  top: 0
  height: $header-height-mobile
  background: #fff
  z-index: 15

=logo-scrolled-styles
  margin-left: -66px
  margin-top: -8px

.header
  @extend .clearfix
  padding: 30px 50px
  position: absolute
  width: 100%
  height: $header-height
  z-index: 10

  +media('<md')
    +header-scrolled-styles
    padding-left: 15px
    padding-right: 15px

  .is-scrolled &
    +header-scrolled-styles

    +media('<md')
      padding-left: 15px
      padding-right: 15px

  > div
    a
      display: inline-block
      position: relative
      .is-scrolled &
        background: $gray-light

      +media('<md')
        background: $gray-light


  &__menu
    float: left

    a
      padding-left: 35px

    figure
      @extend .s
      @extend .s-hamburger
      +fz(20px, 1)
      color: $teal
      position: absolute
      top: 6px
      left: 8px

  &__meta
    float: right

    a
      margin-left: 10px

  .logo
    position: absolute
    left: 50%
    margin-left: -109px

    .is-scrolled &
      +logo-scrolled-styles

    +media('<md')
      +logo-scrolled-styles

.page-border
  position: fixed
  background: #FFF
  z-index: 10

  &__top,
  &__bottom
    left: 0
    right: 0
    height: $content-border-size

    +media('<lg')
      height: $content-border-size-mobile

  &__left,
  &__right
    top: 0
    bottom: 0
    width: $content-border-size

    +media('<lg')
      width: $content-border-size-mobile

    .is-scrolled &,
    .is-upper-banner-closed &
      top: 0

  &__left
    transition: left $default-transition-speed $default-transition-easing
    left: 0

    .is-nav-expanded &
      left: $side-nav-width

      +media('<md')
        left: $side-nav-width-mobile

  &__right
    right: 0

  &__top
    top: $upper-banner-height
    position: absolute

    +media('<lg')
      top: $upper-banner-height-mobile

    +media('<md')
      display: none

    .is-scrolled &,
    .is-upper-banner-closed &
      top: 0

  &__bottom
    top: auto
    bottom: 0

html
  position: relative
  transition: left $default-transition-speed $default-transition-easing
  left: 0

html.is-nav-expanded
  left: $side-nav-width
  overflow: hidden

  +media('<md')
    left: $side-nav-width-mobile

figure.nav-overlay
  margin: 0
  position: fixed
  width: 100%
  height: 100%
  z-index: 99
  display: none
  visibility: hidden
  cursor: not-allowed

  .is-nav-expanded &
    display: block
    visibility: visible

.side-nav
  @extend %default-transition
  position: fixed
  left: 0
  top: 0
  height: 100%
  overflow: hidden
  background: $gray-lighter
  color: $gray-dark
  width: $side-nav-width
  padding: 65px
  z-index: 100
  left: -1*$side-nav-width

  +media('<md')
    padding: 20px
    width: $side-nav-width-mobile

  .is-nav-expanded &
    left: 0

  h3
    @extend .accent-heading
    color: $gray-alt
    text-align: left
    padding: 0 0 10px

    +media('<md')
      +fz(14px, 1)

    &:after
      background: $gray-alt
      left: 0
      margin-left: 0
      width: 166px
      margin: 10px 0 0

  a
    color: $gray-dark

.side-nav-items
  @extend .list-unstyled

  &__item
    display: block
    +fz(34px, 39px)
    font-weight: bold
    margin: 0 0 20px

    +media('<md')
      +fz(20px, 24px)

    figure
      @extend .s
      @extend .s-arrow-right
      opacity: 0
      top: 4px
      margin-left: 5px

    a
      position: relative
      display: inline-block

      &:hover
        cursor: pointer
        color: $teal
        text-decoration: underline

        figure
          opacity: 1


// body.page-home
//   background: transparent url('/images/truck-bg.jpg') no-repeat scroll center top
//   background-size: cover

.home-intro
  background: #32373C

  +media('>lg')
    padding-top: $header-height
    margin-top: -$header-height

  .more-arrow > a
    color: #FFF

    figure
      color: $teal

    &:hover
      color: $teal

  .intro
    +make-col
    +make-col-mobile-spacing
    +make-col-span(12)
    text-align: center
    padding-top: $header-height + 40px
    margin-bottom: 50px

    +media('<md')
      padding-top: 40px

    img
      position: absolute
      left: 0
      top: 0
      z-index: 0

    +media('>md', '<=lg')
      padding-bottom: 300px

    +media('>lg')
      padding-bottom: 350px

    &__content
      width: 100%
      text-align: center
      position: relative
      z-index: 10
      margin-bottom: 50px

    &__main
      +fz(38px, 1)
      margin: 0 0 30px
      font-weight: bold

      +media('<md')
        +fz(24px, 1)
        margin: 0 0 10px

    &__sub
      margin: 0
      +fz(28px, 34px)

      +media('<md')
        +fz(14px, 1)
        margin: 0 0 10px

    &__down
      color: $gray-dark
      display: block
      margin-top: 50px

      figure
        @extend .s
        @extend .s-caret-down
        +fz(30px, 1)

        &:hover
          color: $gray-alt

.module
  @extend .outer-container
  +make-col-mobile-spacing
  color: #FFF
  padding: 90px 0

  &__copy
    +fz(38px, 50px)
    margin: 0
    text-align: center

  &__head
    +fz(38px, 50px)
    font-weight: 500
    text-align: center
    margin: 0 0 40px

  &__body
    +fz(24px, 33px)
    margin: 0 0 25px
    text-align: center


.module-wrap

  &--theme-teal
    background: $teal
    color: #FFF

    .accent-heading
      color: $gray-alt

    .more-arrow > a
      color: #FFF

      &:hover
        color: $gray-dark

  &--theme-gray
    background: #5F676E
    color: #FFF

    .accent-heading
      color: $gray-alt

  &--watch
    +hero-bg('Home-Video-Export', center center)
    display: flex
    align-items: center
    min-height: 711px
    justify-content: center

    div
      flex: 1

    +media('<md')
      min-height: 314px

  &--confidence
    +hero-bg('DS-Background', center center)
    // min-height: 1089px

    +media('<md')
      min-height: none

  &--symptom
    +hero-bg('ST-Background', center center)
    // min-height: 1089px

    +media('<md')
      min-height: none

.footer
  background: #000
  text-align: center
  figure
    margin: 0
    display: inline-block

  &__logo-area
    padding: 35px 0

.nav-list
  @extend .list-unstyled
  margin: 0 0 20px

  &:last-of-type
    margin-bottom: 0

  &__item
    +fz(16px, 1)
    display: inline-block
    letter-spacing: 1.5px
    text-transform: uppercase
    margin: 0 20px

    a
      @extend %default-transition
      color: #fff

      &:hover
        color: $gold-alt

      .nav-list--lower &
        color: $gold-alt

        &:hover
          color: #FFF
