// global elements

*
  box-sizing: border-box

img
  max-width: 100%

%default-link
  &:hover
    cursor: pointer
    text-decoration: none

a
  @extend %default-link

$upper-banner-height: 75px
$upper-banner-height-mobile: 50px

.upper-banner
  height: $upper-banner-height
  text-align: center
  background: $teal
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 10

  +media('<lg')
    height: $upper-banner-height-mobile
    display: none

  +media('<md')
    display: none

  .is-upper-banner-closed &
    display: none

  &__text
    color: #FFF
    display: block
    +fz(21px, 75px)
    font-weight: 500
    margin: 0
    figure
      @extend .s
      @extend .s-arrow-right
      +fz(30px, 1)
      margin-left: 5px
      top: 10px
      +media('<md')
        top: 7px

    +media('<lg')
      +fz(14px, $upper-banner-height-mobile)

    &:hover
      color: #FFF

  &__close
    position: absolute
    right: 20px
    top: 50%
    margin-top: -5px

    figure
      @extend .s
      @extend .s-close-x
      color: #fff
      +fz(27px, 1)
      top: -10px

      &:hover
        opacity: 0.5

.main
  top: $upper-banner-height
  padding-top: $content-border-size
  padding-bottom: $content-border-size
  position: relative
  z-index: 1

  +media('<md')
    padding-top: $content-border-size-mobile
    margin-top: -1*$content-border-size-mobile - 5px

  .is-upper-banner-closed &
    +media('>md')
      top: 0

$header-height: 160px
$header-height-mobile: 92px

=header-scrolled-styles
  padding: 25px 80px
  position: fixed
  top: 0
  height: $header-height-mobile
  background: #fff
  z-index: 1500

=logo-scrolled-styles
  margin-left: -66px
  margin-top: -8px

.header
  @extend .clearfix
  padding: 20px 50px
  position: absolute
  width: 100%
  height: $header-height
  z-index: 10

  +media('<lg')
    +header-scrolled-styles
    padding-left: 15px
    padding-right: 15px

  .is-scrolled &
    +header-scrolled-styles

    +media('<lg')
      padding-left: 15px
      padding-right: 15px

  > div
    a
      display: inline-block
      position: relative
      .is-scrolled &
        background: $gray-light

      +media('<lg')
        .is-scrolled &
          background: $gray-light


  &__menu
    float: left

    a
      padding-left: 50px
      min-height: 32px

      +media('<md')
        padding-left: 45px
        padding-right: 5px

    figure
      @extend .s
      @extend .s-hamburger
      +fz(23px, 1)
      color: $teal
      position: absolute
      top: 11px
      left: 10px

  &__meta
    float: right

    +media('<md')
      display: none

    a
      margin-left: 10px

  .logo
    position: absolute
    left: 50%
    margin-left: -109px

    .is-scrolled &
      +logo-scrolled-styles

    +media('<lg')
      +logo-scrolled-styles

// logged in state
.header
  &--logged-in
    display: none

    .is-showing-logged-in &
      display: block !important

.is-showing-logged-in .header
  display: none

.header--logged-in
  +header-scrolled-styles
  +hero-bg('header-logged-in')

  +media('<md')
    +header-scrolled-styles
    +hero-bg('header-logged-in')
    padding-left: 15px
    padding-right: 15px

  .logo
    +bg-retina('logo-white', 124, 54)
    +logo-scrolled-styles
    margin-left: -62px

  .is-scrolled &
    +hero-bg('header-logged-in')

    .logo
      margin-left: -62px

    div > a
      background: #FFF

  .header__menu
    a
      padding: 12px 9px 10px 13px
      .is-scrolled &
        background: #FFF
      &:hover
        background: $gray
      figure
        position: relative
        top: auto
        left: auto

  .button
    min-height: 32px

.is-logged-in .main
  z-index: 100

.page-border
  position: fixed
  background: #FFF
  z-index: 10

  &__top,
  &__bottom
    left: 0
    right: 0
    height: $content-border-size

    +media('<lg')
      height: $content-border-size-mobile

  &__left,
  &__right
    top: 0
    bottom: 0
    width: $content-border-size

    +media('<lg')
      width: $content-border-size-mobile

    .is-scrolled &,
    .is-upper-banner-closed &
      top: 0

  &__left
    transition: left $default-transition-speed $default-transition-easing
    left: 0

    .is-nav-expanded &
      left: $side-nav-width

      +media('<md')
        left: $side-nav-width-mobile

  &__right
    right: 0

  &__top
    top: $upper-banner-height
    position: absolute

    // +media('<lg')
    //   top: $upper-banner-height-mobile

    +media('<lg')
      display: none

    .is-scrolled &,
    .is-upper-banner-closed &
      top: 0

  &__bottom
    top: auto
    bottom: 0

html
  position: relative
  transition: left $default-transition-speed $default-transition-easing
  left: 0

html.is-nav-expanded
  left: $side-nav-width
  overflow: hidden
  -webkit-overflow-scrolling: none

  body
    overflow: hidden

  +media('<md')
    left: $side-nav-width-mobile

figure.nav-overlay
  margin: 0
  position: fixed
  width: 100%
  height: 100%
  z-index: 99999
  display: none
  visibility: hidden
  cursor: not-allowed

  .is-nav-expanded &
    display: block
    visibility: visible

.side-nav
  @extend %default-transition
  position: fixed
  left: 0
  top: 0
  height: 100%
  overflow: hidden
  background: $gray-lighter
  color: $gray-dark
  width: $side-nav-width
  z-index: 100
  left: -1*$side-nav-width

  &__inner
    padding: 65px

    +media('<md')
      padding: 20px

  +media('<md')
    width: $side-nav-width-mobile

  .is-nav-expanded &
    left: 0

  h3
    @extend .accent-heading
    color: $gray-alt
    text-align: left
    padding: 0 0 10px

    +media('<md')
      +fz(14px, 1)

    &:after
      background: $gray-alt
      left: 0
      margin-left: 0
      width: 166px
      margin: 10px 0 0

  a
    color: $gray-dark

.side-nav-items
  @extend .list-unstyled

  &__item
    display: block
    +fz(32px, 36px)
    font-weight: bold
    margin: 0 0 20px

    +media('<md')
      +fz(20px, 24px)

    &--has-icon
      a
        padding-left: 40px
        position: relative
        svg
          position: absolute
          left: 0
          top: 4px

          +media('<md')
            top: -3px

    figure
      @extend .s
      @extend .s-arrow-right
      opacity: 0
      top: 4px
      margin-left: 5px

    a
      position: relative
      display: inline-block

      &:hover
        cursor: pointer
        color: $teal
        text-decoration: underline

        figure
          opacity: 1


// body.page-home
//   background: transparent url('/images/truck-bg.jpg') no-repeat scroll center top
//   background-size: cover

.home-intro
  background: #32373C

  .is-logged-in &
    padding-top: $header-height-mobile

  +media('>md')
    padding-top: $header-height
    margin-top: -$header-height

  .more-arrow > a
    color: #FFF

    figure
      color: $teal

    &:hover
      color: $teal

  .intro
    +make-col
    +make-col-mobile-spacing
    +make-col-span(12)
    text-align: center
    padding-top: 15%
    margin-bottom: 50px

    +media('<md')
      padding-top: 40px

    img
      position: absolute
      left: 0
      top: 0
      z-index: 0

    +media('>md', '<=lg')
      padding-bottom: 300px

    +media('>lg')
      padding-bottom: 350px

    &__content
      width: 100%
      text-align: center
      position: relative
      z-index: 10
      margin-bottom: 50px

    &__main
      +fz(38px, 1)
      margin: 0 0 30px
      font-weight: bold

      +media('<md')
        +fz(24px, 1)
        margin: 0 0 10px

    &__sub
      margin: 0
      +fz(28px, 34px)

      +media('<md')
        +fz(14px, 1)
        margin: 0 0 10px

    &__down
      color: $gray-dark
      display: block
      margin-top: 50px

      figure
        @extend .s
        @extend .s-caret-down
        background: #EFECE5
        border-radius: 100%
        width: 52px
        height: 52px
        +fz(30px, 1)

        &:before
          position: relative
          top: 13px

.page-intro
  text-align: center
  background-size: cover
  background-attachment: scroll
  background-position: top center
  padding-bottom: 80px

  +media('>md')
    padding-top: $header-height
    margin-top: -$header-height

  &--dark
    color: #fff

  &__main
    +fz(38px, 44px)
    font-weight: bold
    margin-bottom: 25px

  &__sub
    margin-bottom: 0

  &__content
    +fz(28px, 35px)
    padding-top: $header-height
    margin: 0 auto
    max-width: 740px
    margin: 0 auto 40px

  .button-callout
    padding-bottom: 0


.module
  @extend .outer-container
  +make-col-mobile-spacing
  color: #FFF
  padding: 90px 0

  &__copy
    +fz(38px, 50px)
    margin: 0
    text-align: center

    +media('<md')
      +fz(30px, 40px)

  &__head
    +fz(38px, 50px)
    font-weight: bold
    text-align: center
    margin: 0 0 40px

    +media('<md')
      +fz(30px, 40px)

  &__heading
    +fz(38px, 50px)
    font-weight: bold
    margin: 0 0 10px
    text-align: center

  &__body
    +fz(24px, 33px)
    margin: 0 0 25px
    text-align: center

    +media('<md')
      +fz(20px, 27px)

  &--theme-brown
    background: #4D4E4C

=module-wrap($theme, $bgColor, $textColor, $accentHeadingColor, $moreArrowColor, $moreArrowColorHover)
  &--theme-#{$theme}
    background: $bgColor
    color: $textColor

    .accent-heading
      color: $accentHeadingColor

    .more-arrow > a
      color: $moreArrowColor

      &:hover
        color: $moreArrowColorHover

    .next-down figure
      color: $accentHeadingColor
      opacity: 0.5

.module-wrap

  +module-wrap('teal', $teal, #FFF, $gray-alt, #FFF, $gray-dark)
  +module-wrap('gray', #5F676E, #FFF, $gray-alt, #FFF, $gray-dark)
  +module-wrap('gray-light', #959897, #FFF, #D2D1C5, #FFF, $gray-dark)
  +module-wrap('brown', #4D4E4C, #FFF, #D2D1C5, #FFF, #FFF)
  +module-wrap('blue', #3B4449, #FFF, #D2D1C5, #FFF, #FFF)
  +module-wrap('brown-light', #4D4E4C, #FFF, #D2D1C5, #FFF, #FFF)

  &--watch
    position: relative

    .module-wrap--inner
      position: absolute
      top: 50%
      left: 50%
      margin-left: -109px
      margin-top: -36px

    +media('<md')
      min-height: 314px

  &--confidence
    +hero-bg('DS-Background', center center)
    // min-height: 1089px

    +media('<md')
      min-height: none

  &--symptom
    +hero-bg('ST-Background', center center)
    // min-height: 1089px

    +media('<md')
      min-height: none

.footer
  @extend .clearfix
  background: #000
  text-align: center
  figure
    margin: 0
    display: inline-block

  &__logo-area
    padding: 35px 0
    float: left
    width: 100%

.nav-list
  @extend .list-unstyled
  +make-col
  +make-col-span(12)
  margin: 0 0 20px

  &:last-of-type
    margin-bottom: 0

  &__item
    +fz(16px, 1)
    display: inline-block
    letter-spacing: 1.5px
    text-transform: uppercase
    margin: 0 20px

    +media('<md')
      +fz(14px, 18px)
      display: block
      margin: 0 0 10px

    a
      @extend %default-transition
      color: #fff

      &:hover
        color: $gold-alt

      .nav-list--lower &
        color: $gold-alt

        &:hover
          color: #FFF

.partner-grid
  @extend .clearfix
  +make-row
  text-align: center
  margin-top: 40px

  &__item
    @extend .clearfix
    +make-col
    +make-col-span(2.4)
    min-height: 90px
    margin-bottom: $grid-gutter-width

    svg
      max-width: 100%

    +media('<md')
      +make-col-span(4)

.world-map
  position: relative

.tooltips
  @extend .list-unstyled
  &__item
    background: #D2D1C5
    color: #8F9385
    position: absolute
    +fz(14px, 1)
    letter-spacing: 3px
    padding: 10px
    text-transform: uppercase
    text-align: center
    display: block
    +media('<lg')
      padding: 5px
    span
      display: none
    strong
      font-weight: normal
    +media('<lg')
      strong
        display: none
      span
        display: block
    figure
      @extend .s
      @extend .s-caret-tooltip
      color: #D2d1c5
      position: absolute
      left: 50%
      bottom: -10px
      margin-left: -5px

      +media('<md')
        display: none

    &--usa
      top: 35%
      left: 15%

      +media('<md')
        top: 37%

    &--can
      top: 24%
      left: 21%

    &--ire
      top: 36%
      left: 36%

      +media('<lg')
        left: 42%

      figure
        left: auto
        right: 10px
        top: -10px
        bottom: auto
        transform: rotate(180deg)

    &--uk
      top: 24%
      left: 46%

      figure
        left: 10px

    &--sing
      top: 55%
      left: 70%

    &--aus
      top: 70%
      left: 79%

    &--nz
      top: 81%
      left: 89%

      +media('<lg')
        left: 92%



// .admin-controls
//   position: fixed
//   left: 35px
//   bottom: 35px
//   z-index: 10000
//   padding: 25px
//   background: rgba(255,255,255,0.8)
//   // display: none
//   h3
//     +fz(15px, 1)
//     text-align: center
//     letter-spacing: 5px
//     text-transform: uppercase
//     margin: 0 0 25px
//
//   .is-showing-admin &
//     display: block
//
//   button
//     display: block
//     width: 100%
//     margin: 5px 0
//     +fz(10px, 1)
//     padding: 10px
//
//   figure
//     @extend .s
//     @extend .s-close-x
//     position: absolute
//     right: 5px
//     top: 5px
