$default-transition-speed: 0.3s
$default-transition-easing: ease-out

$default-transition: all $default-transition-speed $default-transition-easing

%default-transition
  transition: $default-transition

.logo
  display: block
  +bg-retina('logo', 218, 95)

  .is-scrolled &
    +bg-retina('logo', 132, 58)

  +media('<md')
    +bg-retina('logo', 132, 58)

.button
  @extend %default-transition
  +fz(16px, 1)
  text-transform: uppercase
  padding: 15px
  letter-spacing: 3px

  // sizes

  &--large
    +fz(22px, 1)
    max-height: 50px
    padding: 15px 28px

  &--small
    +fz(12px, 1)
    padding: 10px
    max-height: 45px

  // colors

  &--teal
    +make-button($teal, white)

  &--white
    +make-button(white, $teal, $gray-lighter)

  &--scrolled
    display: none
    .is-scrolled &
      display: block

  &--not-scrolled
    display: block
    .is-scrolled &
      display: none

.accent-heading
  +pseudo-el(233, 1, rgba(255, 255, 255, .5))
  color: $teal-light
  text-align: center
  text-transform: uppercase
  font-weight: 500
  +fz(16px, 1)
  padding-bottom: 25px
  letter-spacing: 2.9px

  &::after
    position: relative
    margin: 25px 0 0
    left: 50%
    margin-left: -233/2 + px


  em
    +fz(9px, 1)
    font-style: normal
    position: relative
    top: 1px
    vertical-align: super

.outer-container
  @extend .container

.more-arrow
  @extend .clearfix
  text-transform: uppercase
  text-align: center
  padding: 30px 0

  svg
    margin-left: 10px

  &--teal
    color: $teal

    &:hover
      color: $teal-light

.photo-grid-container
  @extend .outer-container

.photo-grid
  +make-row

  &__item
    +make-col
    +make-col-span(3)
    padding-left: 0
    padding-right: 0
    position: relative
    color: #FFF
    margin: 0

    &:hover
      color: #FFF

      .photo-grid__img
        display: none
      .photo-grid__img--hovered
        display: block
      strong
        opacity: 1

    strong
      transition: opacity $default-transition-speed $default-transition-easing
      opacity: 0
      position: absolute
      bottom: 15px
      padding: 0 15px
      span
        display: block

  &__img
    &--hovered
      display: none

.button-callout
  padding: 40px 0
  text-align: center

  > a.button
    display: inline-block
