// This path is relative to this file!
$fonts-url-path: '/fonts';

@mixin font-face($font-family, $file-name, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
      src: url('#{$fonts-url-path}/#{$file-name}.eot');
      src: url('#{$fonts-url-path}/#{$file-name}.eot?#iefix') format('embedded-opentype'),
           url('#{$fonts-url-path}/#{$file-name}.woff2') format('woff2'),
           url('#{$fonts-url-path}/#{$file-name}.woff') format('woff'),
           url('#{$fonts-url-path}/#{$file-name}.ttf') format('truetype'),
           url('#{$fonts-url-path}/#{$file-name}.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include font-face( brandon_grotesque, 'brandon-grotesque-regular', 400, normal );
@include font-face( brandon_grotesque, 'brandon-grotesque-medium',  500, normal );
@include font-face( brandon_text,      'brandon-text-regular',      400, normal );
@include font-face( brandon_text,      'brandon-text-bold',         700, normal );
@include font-face( caslon,            'caslon-book',               400, normal );
@include font-face( caslon,            'caslon-book-italic',        400, italic );
@include font-face( caslon,            'caslon-medium',             500, normal );
@include font-face( caslon,            'caslon-medium-italic',      500, italic );
@include font-face( caslon,            'caslon-bold',               700, normal );
@include font-face( caslon,            'caslon-bold-italic',        700, italic );
